.compass {
  pointer-events:auto;
  right:0;
  top: 80px!important;
  width:95px;
  height:95px;
  position:fixed!important;
}
.navigation-controls {
  right: 100px;
  top: 16px;
  width: 30px;
  border: 1px solid rgba(255,255,255,.1);
  font-weight: 300;
  background: rgba(0,0,0,.3)!important;
}
/* 缩放 */
.navigation-controls{
  display: none!important;
  width: 64px;
  display: flex;
  border: 1px solid rgba(255,255,255,.8);
  border-radius: 5px;
  box-sizing: border-box;
}
.navigation-control{
  border-bottom: none;
}
.navigation-controls>div{
  width: 32px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.navigation-controls>div:nth-of-type(1)::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 5px;
  width: 2px;
  height: 20px;
  background: rgba(255,255,255,.4);
}
.navigation-controls>div:nth-of-type(2) {
  position: absolute;
  top: 0px;
  right: 84px;
  border: 1px solid rgba(255,255,255,.8);
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: none;
  justify-content: space-between;
}
/* 图例 */
.distance-legend{
  background: transparent!important;
  border: none;
  top: 10px;
  left: 10px;
}
/* 比例尺 */
.distance-legend-scale-bar{
  border: 1px solid #fff;
  background: #3850D5!important;
  height: 8px!important;
  top: 30px!important;
}
/* 小地球缩放 */
/* #typhoonContaner .compass,
#typhoonContaner .navigation-control:nth-of-type(2),
#typhoonContaner .distance-legend{
  display: none!important;
}
#typhoonContaner .navigation-controls{
  right: 10px!important;
  top: 280px;
  height: 30px;
  z-index: 400px; 
  display: none;
  margin: 0;
  padding: 0;
}
#typhoonContaner .navigation-controls>div{
  height: 30px;
  width: 32px;
  float: left;
} */